.navbar {
    padding: 1rem;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
  
.navbar-group-a {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 350px;
}
  
.navbar-group-b {
    display: flex;
    align-items: center;
    margin-right: -150px;
}
  
.navbar-group-c {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar-item-a {
    display: flex;
    align-items: center;
    margin-right: 200px;
    cursor: pointer;
    font-size: 20px;
}
  
.navbar-item-a a,
.navbar-item-b a,
.navbar-item-c a {
    color: #ffffff;
    text-decoration: none;
}
  
.navbar-item-b {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}
  
.navbar-item-b svg {
    margin-right: 6px;
    color: #ffffff;
}
  
.navbar-item-a a:hover,
.navbar-item-b a:hover,
.navbar-item-c a:hover {
    color: #0070f3;
}
  