@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.home-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.home-logo {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: -5%;
    top: 10.5%;
    width: 15vw;
    height: auto;
    filter: brightness(5);
    z-index: 1;
}

.home-arrow {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 35%;
    width: 5vw;
    height: auto;
    filter: brightness(10);
    z-index: 1;
    animation: float 2s ease-in-out infinite;
    transition: transform 0.3s ease-in-out;
}

.home-arrow:hover {
    animation: float-hover 1.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
    }
}

@keyframes float-hover {
    0% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-20px);
    }
    100% {
        transform: translate(-50%, -50%) translateY(0);
    }
}

.full-title {
    font-family: 'Libre Baskerville', serif;
    text-align: right;
    color: white;
    position: absolute; 
    top: 25vh; 
    right: 2%; 
    z-index: 1;
}

.title {
    font-size: 6vw;
    margin-bottom: 0;
}

.subtitle {
    font-size: 2vw;
    margin-top: 0vh;
}

@media screen and (min-width: 834px) and (max-width: 1366px) {
    .home-logo {
        width: 25vw;
        height: auto;
        margin-top: 5%;
    }

    .home-arrow {
        width: 15%;
        height: 10%;
        margin-top: 100%;
    }

    .title {
        font-size: 10vw;
    }

    .subtitle {
        font-size: 4vw;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .home-logo {
        width: 25vw;
        height: auto;
        margin-top: 0%;
    }

    .home-arrow {
        width: 10%;
        height: 10%;
        margin-top: 100%;
    }

    .title {
        font-size: 10vw;
    }

    .subtitle {
        font-size: 4vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 834px) {
    .home-logo {
        width: 25vw;
        height: auto;
        margin-top: 2%;
    }

    .home-arrow {
        width: 12%;
        height: 10%;
        margin-top: 100%;
    }

    .title {
        font-size: 10vw;
    }

    .subtitle {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 768px) {
    .home-logo {
        width: 20vw;
        margin-top: 0%;
    }

    .home-arrow {
        width: 8vw;
    }

    .title {
        font-size: 15vw;
    }

    .subtitle {
        font-size: 6vw;
        margin-right: 5vw;
    }

    .full-title {
        margin-top: 20vh;
        padding-right: 15px;
        right: 5%;
    }
}

@media screen and (max-width: 480px) {
    .home-logo {
        width: 25vw;
        margin-top: 0%;
    }

    .home-arrow {
        width: 10vw;
    }

    .title {
        font-size: 18vw;
    }

    .subtitle {
        font-size: 5vw;
        margin-right: 3vw;
    }

    .full-title {
        margin-top: 15vh; 
        padding-right: 10px;
    }
}
