@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.info-container {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.info-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10; 
    object-fit: cover;
}

.info-logo {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: -5%;
    top: 10.5%;
    width: 15vw;
    height: auto;
    filter: brightness(1.5) sepia(1) hue-rotate(90deg); 
    z-index: 1; 
}

.info-line {
    position: absolute;
    top: calc(10.5% + 8vw); 
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    z-index: 2;
}

.info-who-we-are {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
    top: 200px;
    width: 100%;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info-text-box {
    position: relative;
    max-width: 40rem;
    margin: 35vh auto 0; 
    top: -80px;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: left;
    background: #ffffff; 
    color: #171717;
    word-wrap: break-word;
    overflow-wrap: break-word;
    z-index: 10; 
    transform: translateX(17%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info-content {
    display: flex;
    align-items: flex-start;
    justify-content: center; /* Center the content in the container */
    gap: 1rem; /* Reduce spacing between the text and the image */
    max-width: 100%; /* Restrict the overall width of the content */
    margin: 0 auto; /* Center the content horizontally */
    padding: 0;
    overflow: visible;
}

.info-manatee {
    flex-shrink: 0;
    max-width: 500;
    max-height: auto;
    object-fit: contain;
    transform: translate(-250px, 190px); /* Adjusts the position: left (-20px) and down (+30px) */
    position: relative; /* Ensures transform works properly relative to its current position */
}

.info-team-section {
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.team-list {
    padding: 0;
    margin: 1rem 0 0; 
    font-size: 1.2rem;
}

.team-list li {
    margin: 0.5rem 0;
    list-style-type: none; 
}


@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .info-logo {
        width: 25vw;
        height: auto;
    }
    .info-text-box {
        margin: 30vh auto 0; 
        font-size: 1.2rem;
    }
    .info-line {
        top: calc(10.5% + 12vw);
    }
}

@media screen and (min-width: 834px) and (max-width: 1024px) {
    .info-logo {
        width: 25vw;
        height: auto;
    }
    .info-text-box {
        margin: 30vh auto 0; 
        font-size: 1.1rem;
    }
    .info-line {
        top: calc(10.5% + 12vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 834px) {
    .info-logo {
        width: 25vw;
        height: auto;
    }
    .info-text-box {
        margin: 30vh auto 0; 
        font-size: 1rem;
    }
    .info-line {
        top: calc(10.5% + 15vw);
    }
}

@media screen and (max-width: 768px) {
    .info-logo {
        width: 20vw;
        height: auto;
    }
    .info-text-box {
        margin: 25vh auto 0; 
        font-size: 0.9rem;
    }
    .info-line {
        top: calc(10.5% + 18vw);
    }
}

@media screen and (max-width: 480px) {
    .info-logo {
        width: 25vw;
        height: auto;
    }
    .info-text-box {
        margin: 25vh auto 0; 
        font-size: 0.8rem;
    }
    .info-line {
        top: calc(10.5% + 23vw);
    }
}