@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.info-container {
    position: relative;
    background: #ffffff;
    font-family: 'Libre Baskerville', serif;
    color: #171717;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.info-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; 
    object-fit: cover;
}

.info-logo {
    position: absolute;
    top: 10.5%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 15vw; 
    height: auto;
    filter: brightness(1.5) sepia(1) hue-rotate(90deg); 
    z-index: 1; 
}

.info-line {
    position: absolute;
    top: calc(10.5% + 8vw); 
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    z-index: 2;
}

.info-text-box {
    position: relative;
    max-width: 40rem;
    margin: 35vh auto 0; 
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    background: #ffffff; 
    color: #171717;
    word-wrap: break-word;
    overflow-wrap: break-word;
    z-index: 10; 
    transform: translateX(-20%); 
}

.info-team-section {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
}

.team-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.team-list {
    padding: 0;
    margin: 1rem 0 0; 
    font-size: 1rem;
}

.team-list li {
    margin: 0.5rem 0;
    list-style-type: none; 
}


@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .info-logo {
        width: 25vw;
        height: auto;
    }
    .info-text-box {
        margin: 30vh auto 0; 
        font-size: 1.2rem;
    }
    .info-line {
        top: calc(10.5% + 12vw);
    }
}

@media screen and (min-width: 834px) and (max-width: 1024px) {
    .info-logo {
        width: 25vw;
        height: auto;
    }
    .info-text-box {
        margin: 30vh auto 0; 
        font-size: 1.1rem;
    }
    .info-line {
        top: calc(10.5% + 12vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 834px) {
    .info-logo {
        width: 25vw;
        height: auto;
    }
    .info-text-box {
        margin: 30vh auto 0; 
        font-size: 1rem;
    }
    .info-line {
        top: calc(10.5% + 15vw);
    }
}

@media screen and (max-width: 768px) {
    .info-logo {
        width: 20vw;
        height: auto;
    }
    .info-text-box {
        margin: 25vh auto 0; 
        font-size: 0.9rem;
    }
    .info-line {
        top: calc(10.5% + 18vw);
    }
}

@media screen and (max-width: 480px) {
    .info-logo {
        width: 25vw;
        height: auto;
    }
    .info-text-box {
        margin: 25vh auto 0; 
        font-size: 0.8rem;
    }
    .info-line {
        top: calc(10.5% + 23vw);
    }
}